#  vim:ts=2:sts=2:sw=2:et
#
#  Author: Hari Sekhon
#  Date: 2018-09-28 21:35:35 +0100 (Fri, 28 Sep 2018)
#
#  https://github.com/harisekhon/haproxy-configs
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback
#  to help improve or steer this or other code I publish
#
#  http://www.linkedin.com/in/harisekhon
#

# ============================================================================ #
#                               T r a v i s   C I
# ============================================================================ #

# https://docs.travis-ci.com/user/customizing-the-build/

version: ~> 1.0

# ==============================================================
# https://docs.travis-ci.com/user/languages/minimal-and-generic/
language: generic

# https://docs.travis-ci.com/user/multi-os/
os:
  - linux
  - osx

# https://docs.travis-ci.com/user/reference/osx/
# macOS 10.15.7 - otherwise defaults to Mac macOS 10.13 with xcode9.4 otherwise - and HomeBrew update takes 50 minutes until the build times out :-/
osx_image: xcode12.2

# ======================================================
# https://docs.travis-ci.com/user/environment-variables/
#env:
#  - DEBUG=1

# ==============================================
# https://docs.travis-ci.com/user/notifications/
notifications:
  email: false

# ========================================
# https://docs.travis-ci.com/user/caching/

before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log

cache:
  - pip
  - directories:
    - $HOME/.cache
    - $HOME/.cpan
    - $HOME/.cpanm
    - $HOME/.gem
    - bash-tools/pytools_checks

# ==============================================
# https://docs.travis-ci.com/user/job-lifecycle/

# avoid package checksum mismatches when installing packages
before_install:
  - sudo rm -f "${TRAVIS_ROOT}/etc/apt/apt.conf.d/99-travis-apt-proxy"
  - sudo rm -rf "${TRAVIS_ROOT}/var/lib/apt/lists/"*

install:
  - travis_retry make

# Travis CI build has HAProxy 1.4 which is far too old to use, tests fail due to newer unrecognized config options
script:
  - make test
