#  vim:ts=2:sts=2:sw=2:et
#
#  Author: Hari Sekhon
#  Date: 2018-09-28 21:35:35 +0100 (Fri, 28 Sep 2018)
#
#  https://github.com/harisekhon/haproxy-configs
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback
#  to help improve or steer this or other code I publish
#
#  http://www.linkedin.com/in/harisekhon
#

# there's no 'language: bash'
language: generic

os:
  - linux
  - osx

dist: trusty

sudo: true

notifications:
  email: false

#env:
#  - DEBUG=1

# avoid package checksum mismatches when installing packages
before_install:
  - sudo rm -f "${TRAVIS_ROOT}/etc/apt/apt.conf.d/99-travis-apt-proxy"
  - sudo rm -rf "${TRAVIS_ROOT}/var/lib/apt/lists/"*

install:
  - travis_retry make

# Travis CI build has HAProxy 1.4 which is far too old to use, tests fail due to newer unrecognized config options
script:
  - make test
